/*--------------------------------//
//                                //
//             Button             //
//                                //
//--------------------------------*/
.buttons {
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	
	grid-row: 1;
	grid-column: 1 / 4;
}

@media only screen and (min-width: 1500px) {
	.buttons {
		display: flex;
	}
}

.button {
	color: var(--color-primary-text, #FFF);
	background-color: var(--color-primary, #fe6a00);
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	outline: 0;
	border: none;
	-webkit-tap-highlight-color: transparent;
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	vertical-align: baseline;
	text-align: center;
	margin: 0;
	min-width: 4em;
	line-height: 2.25em;
	padding: 0 1em;
	margin: .5em;
	border-radius: 0.25em;
	overflow: visible;
}

.button::before {
	background-color: var(--color-primary-text, #FFF);
	opacity: 0;
	transition: opacity .2s ease;
	border-radius: 0.25em;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: "";

	/* Added to prevent buttons moving when hovered. */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.button:hover::before {
	opacity: 0.2;
}

.button:active::before {
	opacity: 0.4;
}

.button__text {
	font-size: 1.25rem;
	line-height: 2rem;
	letter-spacing: 0.009375rem;
	font-weight: 500;
	padding-bottom: 0.25rem;
}

.install-button {
	display: inline-block;
}

.install-button[aria-hidden="true"] {
	display: none;
}